button{
  margin: 15px;
  height: 200px;
  width: 400px;
}

#results {
  display: none;
  margin: 20px;
}

.card {
  margin: 20px;
  max-width: 350px;
  height: 450px;
  float: left;
  display: none;
}

.questiongroup {
  margin: 35px;
  padding-left: 20px;
}


.jumbotron {
  background-image: url("../img/forest.jpg");
  color: white;
}

.card-img-top {
  max-height: 250px;
}
