button{
  margin: 15px;
}

button:hover {
  box-shadow: 0 0 5px 1px #fff;
}

body {
  background-color: #82A172;
}

#results {
  display: block;
  margin: 40px;
}

.card {
  margin: 20px;
  max-width: 350px;
  height: 450px;
  float: left;
  display: none;
}

.questiongroup {
  margin: 35px;
  padding-left: 20px;
}

.blue-button {
  background-image: url("../img/newblue.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.white-button {
  background: url("../img/newwhite.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  font-size: 20px;
}

.gold-button {
  background-image: url("../img/newgold.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.brown-button {
  background-image: url("../img/newbrown.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}
.round-button {
  background-image: url("../img/round.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.flat-button {
  background: url("../img/flattop.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.spear-button {
  background-image: url("../img/spear.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.concave-button {
  background-image: url("../img/concave2.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}
.ruffled-button {
  background-image: url("../img/lionsmane.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.fan-button {
  background-image: url("../img/ruffled.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.grouped-button {
  background-image: url("../img/newgrouped.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

.single-button {
  background-image: url("../img/newsingle.jpg");
  height: 150px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}

#jumbo {
  height: 700px;
  background-image: url("../img/new-header.jpg");
  repeat: no-repeat;
  background-size: cover;
}

#jumbo h1 {
  text-align: center;
  position: absolute;
  margin-bottom: 10px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #00000082;
  width: 100%;
  font-family: 'Carme', sans-serif;
}
  /*button*/
.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
} /*button*/


.card-img-top {
  max-height: 250px;
}

<<<<<<< HEAD
.card {
  margin: 20px;
  max-width: 350px;
  float: left;
}
=======
>>>>>>> c950747f9f5be5027c0876b242a2f9858f5e2d7b
.card:hover {
    box-shadow: 0 0 5px 1px #fff;

}
