div .topper{
  border-top: 1px solid #d8d8d8;
  margin: 20px;
  padding-top: 10px;
}

.icon{
  float: left;
  margin: 25px;
}

.question{
  margin-bottom: 50px;
}

hr{
  border: 4px solid #d8d8d8;
}



/*button styles*/

.select{
  margin: 10px;
  height: 200px;
  width: 300px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  text-shadow: 3px 0px 8px #000000;
}


.select:focus{
  text-decoration: underline;
  font-size: 25px;
}

/*button shapes*/

#round{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/round.jpg);
  background-position: center -67px;
  background-repeat: no-repeat;
  background-size: cover;
}

#spear{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/spear.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}

#concave{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/concave.jpg);
  background-position: center -67px;
  background-repeat: no-repeat;
  background-size: cover;
}

#ruffled{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/ruffled.jpg);
  background-position: center -67px;
  background-repeat: no-repeat;
  background-size: cover;
}

#flat{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/flat.jpg);
  background-position: center -67px;
  background-repeat: no-repeat;
  background-size: cover;
}

#fan{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/fanned.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*button groups*/

#results {
  display: none;
  margin: 20px;
}

.card {
  margin: 20px;
  max-width: 350px;
  height: 450px;
  float: left;
  display: none;
}


.card-img-top {
  max-height: 250px;
}
