

.bordered{
    position: relative;
    height: 100px;
    width: 100%;
    border-bottom: 20px solid white;
    background: white;
    padding-top: 10px;
}
.bordered:after{
    position: absolute;
    content: '';
    bottom: -30px;
    left: 0px;
    height: 10px;
    width: 100%;
    background-size: 26px 25px;
    background-position: -5px -5px;
    background-image: -webkit-radial-gradient(50% 0%, circle, white 48%, transparent 55%);
    background-image: -moz-radial-gradient(50% 0%, circle, white 48%, transparent 55%);
    background-image: radial-gradient(circle at 50% 0%, white 48%, transparent 55%);
}

.bordered2{
    position: relative;
    height: 100px;
    width: 100%;
    border-bottom: 20px solid #cddcd7;
    background: #cddcd7;
    padding-top: 10px;
}
.bordered2:after{
    position: absolute;
    content: '';
    bottom: -30px;
    left: 0px;
    height: 10px;
    width: 100%;
    background-size: 26px 25px;
    background-position: -5px -5px;
    background-image: -webkit-radial-gradient(50% 0%, circle, #cddcd7 48%, transparent 55%);
    background-image: -moz-radial-gradient(50% 0%, circle, #cddcd7 48%, transparent 55%);
    background-image: radial-gradient(circle at 50% 0%, #cddcd7 48%, transparent 55%);
}



.stripe{
  background-color: #cddcd7;
  margin-bottom: -10px;
}

.icon{
  float: left;
  margin: 25px;
}

.question{
  margin-bottom: 50px;
}

hr {
  border: 4px solid #d8d8d8;
}



/*button styles*/

.select{
  margin: 10px;
  height: 200px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid #BDC3C7;
  color: black;
}


.select:focus{
  text-decoration: underline;
  font-size: 40px;
}

.select:visited{
  font-style: italic;
}

/*button colors*/

#blue{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/blue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#gold{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/gold.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#white{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/white.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#brown{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/brown.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160%;
  color: white;
}

/*button shapes*/

#round{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/round.jpg);
  background-position: center -20px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#spear{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/spear.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}

#concave{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/concave.jpg);
  background-position: center -22px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#ruffled{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/ruffled.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#flat{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/flat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fan{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/fanned.jpg);
  background-size: cover;
  background-position: center 17px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

/*button groups*/

#grouped{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/grouped.jpg);
  background-position: 163px 15px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#single{
  border-top: 1px solid #BDC3C7;
  background-image: url(../img/single.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#results {
  /*display: none;*/
  margin: 20px;
}

.card-img-top {
  height: 300px;
}

.card {
  margin: 20px;
  height: 800px;
  max-width: 350px;
  float: none;
  display: inline-block;
  text-overflow: clip;
  overflow: hidden;
  white-space: normal;
  border-radius: 25px;
  border: solid 1px;
  background-color: #f6d1de47;
}

.card-title {
  text-align: center;
}

#disclaimer {
  background-color: #cddcd7;
}

.centered {
  text-align: center;
}

.refresh {
  background-color: #83dcff;
  color: white;
  border: solid 1px black;
}

.refresh:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-body ul {
  list-style-image: url("../img/mush-ul.png");
}

.container #answers {
  width: 100%
}

#answers {
  width: 100%;
  max-height: 3000px;
  overflow-x: scroll;
  white-space: nowrap;
}

.questiongroup {
  margin: 35px;
  padding-left: 20px;
}


#jumbo {
  height: 900px;
  background-image: url("../img/mushroom-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbo h1 {
  text-align: center;
  position: absolute;
  margin-bottom: 10px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a5ffe8;
  background-color: #000000b5;
  width: 100%;
  font-family: 'Merriweather', serif;
}


#submit {
  width: 50%;
  margin-left: 22%;
  margin-top: 50px;
  border-radius: 25px;
  height: 50px;
  background-color: #adc2bb;
  border: solid 1px black;
}

#submit:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

  /*.bestguess {
  margin-bottom: 150px;
  }*/

  /*button*/
#top-arrow {
  margin-top: 90px;
}

.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.rightarrow {
  margin-left: 50%;
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
} /*button*/


.card-img-top {
  max-height: 250px;
}


.carouseldiv {
  margin-bottom: 50px;
}
